<div class="services" style="padding:0px!important;">
         <div class="container ">
            <h2 class="title2" style="text-align: center;">About</h2><hr class="ligne">
            <h2 style="text-align: center;">
               <span style="color:#25AAE1;font-weight:bold;">K</span>eep
               <span style="color:#25AAE1;font-weight:bold;">L</span>earning
               <span style="color:#25AAE1;font-weight:bold;">P</span>latform
            </h2><hr class="ligne">

            <div class="container" style="font-size:1.5em; color: black" >
            <h3 >
                  
                  L'excellence de l'enseignement supérieur pour des cours en ligne, <span style="color:#25AAE1;font-weight:bold;"> gratuits et ouverts à tous  </span>

                  </h1>
                  <p> Ce site a pour <b>missions</b> : </p>
                  
                  <ul>
                     <li> Accompagner le développement des formations tirant pleinement profit du levier numérique et accessibles au plus grand nombre).</li>
                     <li> Inciter à placer le numérique au cœur du parcours étudiant et des métiers de l'enseignement supérieur et de la recherche.  </li>
                     <li> Offrir des moyens et services mutualisés en soutien aux initiatives numériques des établissements.</li>
                     <li> Accroître l'accès à une éducation de qualité pour tous, partout.</li>
                     <li> améliorer l'enseignement et l'apprentissage sur le campus et en ligne.</li>
                     <li> faire progresser l'enseignement et l'apprentissage par la recherche.</li>
                  </ul>
              
               <p>
               Le catalogue de cours disponibles s'est continuellement enrichi pour proposer une variété de formations répondant aux besoins de tous les publics. Nous sommes partis d'une offre d'une dizaine de cours sur quelques thématiques. Nous avons maintenant une couverture très complète des thématiques et une offre de 150 cours dont certains se sont rejoués quatre fois.
               </p>
               
            </div>
         </div>
      </div>

      

      