<div class="services" style="padding:0px!important;">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-4">
        <img src="assets/custom/img/computer_science.jpg" class="" title="project one" />
        <h3><a class="hover-effect" href="#">Computer science</a></h3>
        <p> 
           - Audio, image, and video analysis .<br/>
           - Network and operating system support for multimedia .<br/>
           - Multimedia file systems and databases.<br/><br/>
        </p>
        <div class="row">
           <%= link_to 'New Cour', new_cour_path %><button type="button" class="btn btn-warning btn-md pull-right bttn" >S'inscrire</button>
        </div>
      </div>
    </div>
  </div>
</div>
      