
<div id="legend">
  <legend class=""><h1 style="color: #8b8b8b;">Modifier le Cours</h1></legend>
</div>
<%= render 'form' %>
<div style="margin-left: 42%;margin-bottom: 2%;">
<%= link_to 'Afficher le cours', @cour , :class => " btn btn-primary btn-outline"%> 
</div>
